@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Roboto:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poller One', serif; */

/* font-family: 'Poller One', serif;
font-family: 'Roboto', sans-serif; */


/* NavBar Styling - Css */
.navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  height: 8vh;
  background-color: rgb(19, 18, 18);
  box-shadow: 0 8px 6px -6px gray;

  --webkit-box-shadow: 0 8px 6px -6px gray;

  border-bottom: 0.3px solid gray !important;
}

.navbar-brand  {
  color: white;
}

.nav-link {
  color: white;
  font-weight: 400 !important;
}

.active {
  border-bottom: 1px solid;
}

.navbar-brand {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.nav-link-no-hover:hover {
  color: white; /* Use the desired text color */
  background-color: transparent; /* Use the desired background color */
  text-decoration: none;
  
}

.small-font {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 12px;
}

.teste{
  background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?auto=format&fit=crop&q=80&w=2693&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
}

.styledPadding{
  padding-top: 80px;
  padding-bottom: 80px;
}

.serach-btn-styled {
  background-color: #fff !important;
}


/* Footer Styling - Css */

.footer {
  color: white;
  padding: 25px;
  background-color: rgb(19, 18, 18);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: rgb(70, 255, 0);
  border-bottom: 1px solid rgb(70, 255, 0);
}

/* Page Not Found - PNF Styling - CSS */

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.pnf-btn:hover {
  background-color: black;
  color: white;
}

.pnf-icon {
  display: flex;
  padding-top: 30px;
}

/* Contact Page Styling - CSS */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Registration Page Styling - CSS */
.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}

.form-container { 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  flex-direction: column;
  background-color: gray;
}

.card {
  background-color: gainsboro;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-text-price {
  color: rgb(18, 177, 18);
}

.btn-primary{
  background-color: #000;
  outline: #000;
}

.btn-primary:hover{
  background-color: rgb(18, 177, 18);
}

.form-container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: #fff;
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;  
}

.form-container form input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0px;
}

.form-container form button {
  border: 1px solid black;
  border-radius: 0px;
  background-color: black;
  color: white;
  width: 250px;
}

.form-container form button:hover {
  border: 1px solid black;
  background: #000000;
  background: gray;
}

.buttonSend {
  display: flex;
  align-items: center;
  justify-content: center;

}

.product-link {
  text-decoration: none;
  color: black;
}